body{
    background-color: black;
    color: white;
}

.fondo{
     background-color: black;
    color: white;
}

#pendings li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background-color: aquamarine;
    text-align: center;
    flex-grow: 1;
}

#logo{
    min-height: 70px;
    width: 70px;
    background-image: url("./assets/biomas.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}
