:root {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body{
    background-color: white;
    color: white;
}

.fondo{
     background-color: black;
     color: white;
}

#pendings li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background-color: aquamarine;
    text-align: center;
    flex-grow: 1;
}

#logo{
    min-height: 70px;
    width: 70px;
    background-image: url("./assets/biomas.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}
