body{
    background-color:grey;
}

#pendings li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background-color: aquamarine;
    text-align: center;
    flex-grow: 1;
}

.imagen{
    min-height: 40vh;
    width: 100%;
    background-image: url("./assets/postit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}
